
x-input {
  position: relative;
	display: -webkit-box; 
	display: -moz-box;    
	display: -ms-flexbox; 
	display: -webkit-flex;
	display: flex;        
	font-size: 100%;
	border: 1px solid;
	border-color: rgba(0,0,0,0.225) rgba(0,0,0,0.2) rgba(0,0,0,0.175);
	background-color: #fff;
  overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
 
x-input > *:not(.x-input-text) {
  position: relative;
	min-width: 1em;
  margin: 0.15em;
	padding: 0.15em;
	font-size: 85%;
	background: none;
	border: 1px solid transparent;
	color: #000;
  line-height: 124%;
	text-align: center;
	opacity: 0.4;
  z-index: 1;
	-webkit-box-ordinal-group: 3;
	-moz-box-ordinal-group: 3;
	-ms-flex-order: 3;
	-webkit-order: 3;
	order: 3;
	-webkit-transition: border-color 0.3s, -webkit-box-shadow 0.075s, opacity 0.15s;
	-moz-transition: border-color 0.3s, -moz-box-shadow 0.075s, opacity 0.15s;
	-ms-transition: border-color 0.3s, -ms-box-shadow 0.075s, opacity 0.15s;
	transition: border-color 0.3s, box-shadow 0.075s, opacity 0.2s;
}
	
	x-input > *:not(.x-input-text):hover {
		border-color: #000;
		opacity: 0.6;
	}
	
	x-input > *:not(.x-input-text)[pressed],
  x-input > *:not(.x-input-text):active  {
		opacity: 1;
	}
	
	x-input > button, x-input > button:hover, x-input > button:focus {
		background: none;
	}

	x-input > button:not([pressed]) {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-ms-box-shadow: none;
		box-shadow: none;
	}
	
x-input > [position="left"] {
	-webkit-box-ordinal-group: 1;  
	-moz-box-ordinal-group: 1;     
	-ms-flex-order: 1;     
	-webkit-order: 1;  
	order: 1;
}

x-input .x-input-text {
  position: relative;
  height: 100%;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;                  
	-webkit-box-ordinal-group: 2;
	-moz-box-ordinal-group: 2;
	-ms-flex-order: 2;
	-webkit-order: 2;
	order: 2;
}

x-input .x-input-text input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 100%;
  height: 100%;
  min-width: 0;
  padding: 0 0.2em;
  font-size: 100%;
  background: none;
	outline: none;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

x-input .x-input-text input::-ms-clear {
  display: none;
}

x-input .x-input-text x-spinner {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  -webkit-box-ordinal-group: 3;
	-moz-box-ordinal-group: 3;
	-ms-flex-order: 3;
	-webkit-order: 3;
	order: 3;
}

x-input .x-input-clear {
  -webkit-box-ordinal-group: 4;
	-moz-box-ordinal-group: 4;
	-ms-flex-order: 4;
	-webkit-order: 4;
	order: 4;
}

x-input .x-input-clear:before {
  content: "\2A2F";
}

